h1 {
    color: #8067d8;
}

h3 {
    color: grey;
}

li {
    list-style-type: none;
    background-color: #e3d6ea;
    border-top: solid;
    border-bottom: solid;
    border-color: #dadadb;
    border-radius: 2;
    color:#8067d8
}

ul {
    padding: 0;
}

p {
    color: grey;
    font-size: 10px;
}

.btn {
    width: 70px;
    font-size: xx-small;
}

.task .fa-regular{
    visibility: hidden;
}

.task:hover .fa-regular{
    visibility: visible;
}